<div>
    <h1>Users List</h1>
    <table class="table">
        <thead>
            <th>index</th>
            <th>id</th>
            <th>phone</th>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{_id}}
                </td>
                <td>{{index}}</td>
                <td>{{phone}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</div>